*{
    margin: 0;
} 

body, html{
    margin-left:0.6;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: black;
}


#tite-mov {
    color: #f8f9fa;
    border-color: #ad371b;
}


#tite-mov:hover {
    color: #fff;
    background-color: #b11b1b;
    border-color: #ab202c;
}

nav ul{
    float: right;
    display: flex;
}

.col-lg-3 {
    background-color: black;
    display: inline-block;
} 

.btn-outline-success {
    color: white;
    border-color: white;
}

.ir-arriba {
    display:none;
    padding:30px;
    background-repeat: no-repeat;
    font-size:20px;
    color:rgba(30, 187, 187, 0.863);
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
    z-index: 2;
    margin-right: -36px;
    margin-bottom: -26px;
}

a {
    color: rgba(30, 187, 187, 0.863);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: rgba(30, 187, 187, 0.863);
    text-decoration: underline;
}


.btn-outline-success:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(30, 187, 187, 0.863);
    }
    .btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: rgba(30, 187, 187, 0.863);
    border-color: rgba(30, 187, 187, 0.863);
    }
    
    .btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(30, 187, 187, 0.863);
    }
    .btn-outline-success:hover {
    color: #fff;
    background-color: rgba(30, 187, 187, 0.863);
    border-color: rgba(30, 187, 187, 0.863);
    }
    .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(30, 187, 187, 0.863);
    }